<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso</title>
    <!-- Libreria Bulma -->
    <link rel="stylesheet" href="~/css/main.min.css">
    <!-- Iconos de pruebas -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Libreria propia -->
    <link href="~/css/login.css" rel="stylesheet">
</head>
<body>
     <main role="main" class="pb-3">
          @RenderBody()
     </main>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/alertas.js"></script>
</body>
</html>