<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ABC Gestion de proyectos</title>

    <!-- Bulma is included -->
    <link rel="stylesheet" href="~/css/main.min.css">
    <link rel="stylesheet" href="~/css/principal.css">
    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
 
</head>
<body>
    <div id="app">
        <nav id="navbar-main" class="navbar is-fixed-top">
            <div class="navbar-brand">
                <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
                    <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
                </a>

            </div>
            <div class="navbar-brand is-right">
                <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
                    <span class="icon"><i class="mdi mdi-dots-vertical"></i></span>
                </a>
            </div>
            <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
                <div class="navbar-end">

                    <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider has-user-avatar is-hoverable">
                        <a class="navbar-link is-arrowless">

                            <div class="is-user-name"><span>Carlos Blanco</span></div>
                            <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
                        </a>
                        <div class="navbar-dropdown">
                            <a href="profile.html" class="navbar-item">
                                <span class="icon"><i class="mdi mdi-account"></i></span>
                                <span>Proyectos</span>
                            </a>
                            <a class="navbar-item">
                                <span class="icon"><i class="mdi mdi-settings"></i></span>
                                <span>Tareas</span>
                            </a>
                            <a class="navbar-item">
                                <span class="icon"><i class="mdi mdi-email"></i></span>
                                <span>Mis Datos</span>
                            </a>

                        </div>
                    </div>

                    <a title="Cerrar sesion" class="navbar-item is-desktop-icon-only">
                        <span class="icon"><i class="mdi mdi-logout"></i></span>
                        <span>Cerrar sesion</span>
                    </a>
                </div>
            </div>
        </nav>

        <aside class="aside is-placed-left is-expanded">
            <a asp-controller="Home" asp-action="Index">
                <div class="aside-tools">
                    <div class="aside-tools-label">
                        <span><b>ABC</b> Proyectos</span>
                    </div>
                </div>
            </a>
            <div class="menu is-menu-main">
                <p class="menuscabecera menu-label">Gestion</p>
                <ul class="menu-list">
                    <li>
                        <a asp-controller="Proyectos" asp-action="Index" class="has-icon">
                            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
                            <span class="menu-item-label">Proyectos</span>
                        </a>
                    </li>
                </ul>
                <p class="menuscabecera menu-label">Opciones</p>
                <ul class="menu-list">
                    <li>
                        <a class="has-icon" asp-controller="Usuarios" asp-action="Index">
                            <span class="icon has-update-mark"><i class="mdi mdi-table"></i></span>
                            <span class="menu-item-label">Usuarios</span>
                        </a>
                    </li>
                    <li>
                        <a href="forms.html" class="has-icon">
                            <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
                            <span class="menu-item-label">Roles</span>
                        </a>
                    </li>

                    <li>
                        <a class="has-icon has-dropdown-icon">
                            <span class="icon"><i class="mdi mdi-account-circle"></i></span>
                            <span class="menu-item-label">Miembros</span>
                            <div class="dropdown-icon">
                                <span class="icon"><i class="mdi mdi-plus"></i></span>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href="#void">
                                    <span>Productividad</span>
                                </a>
                            </li>
                            <li>
                                <a href="#void">
                                    <span>Carga de trabajo</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-icon has-dropdown-icon">
                            <span class="icon"><i class="mdi mdi-view-list"></i></span>
                            <span class="menu-item-label">Administracion</span>
                            <div class="dropdown-icon">
                                <span class="icon"><i class="mdi mdi-plus"></i></span>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href="#void">
                                    <span>Pagos</span>
                                </a>
                            </li>
                            <li>
                                <a href="#void">
                                    <span>Presupuestos</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="menuscabecera menu-label">Sistema</p>
                <ul class="menu-list">
                    <li>
                        <a href="#" class="has-icon">
                            <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
                            <span class="menu-item-label">Configuracion</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="has-icon">
                            <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
                            <span class="menu-item-label">Modulos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="has-icon">
                            <span class="icon"><i class="mdi mdi-help-circle"></i></span>
                            <span class="menu-item-label">Sobre la web</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <div id="wrapper" class="col-md-12">

            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <div id="sample-modal" class="modal">
        <div class="modal-background jb-modal-close"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Confirmar Accion</p>
                <button class="delete jb-modal-close" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <p>This will permanently delete <b>Some Object</b></p>
                <p>This is sample modal</p>
            </section>
            <footer class="modal-card-foot">
                <button class="button jb-modal-close">Cancel</button>
                <button class="button is-danger jb-modal-close">Delete</button>
            </footer>
        </div>
        <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
    </div>

    <!-- Carlos Blanco comenta:Scripts para fines de demostracion -->
    <script type="text/javascript" src="~/js/main.min.js"></script>
  
    <script type="text/javascript" src="~/js/chart.sample.min.js"></script>

    <!--Carlos Blanco comenta:Iconos para fines de demostracion  https://bulma.io/documentation/elements/icon/ -->
    @RenderSection("Scripts", required: false)
</body>
</html>